<header class="masthead" style="background-image: url(<%= post.thumb_url %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1><%= post.title %></h1>
          <h3 class="subheading"><%= ActionView::Base.full_sanitizer.sanitize(post.content).truncate 50 %></h3>
          <h4 class="meta">Posted by
            <a href="https://www.facebook.com/cuongnguyenfu0211" target="_blank">Merci Nguyen</a>
            on <%= post.created_at %></h4>
        </div>
      </div>
    </div>
  </div>
</header>
