<header class="masthead" style="background-image: url(<%= Settings.default.home_background %>)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Merci's Blog</h1>
          <span class="subheading">You'll have when you deserve it.</span>
        </div>
      </div>
    </div>
  </div>
</header>
