<h2>All Post</h2>
<%= link_to "New Post", new_admin_post_path, class: "btn btn-success" %><br>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Title</td>
      <td>Category</td>
      <td>Content</td>
      <td>Created at</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
