<h2>All Post</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <td>Title</td>
      <td>Category</td>
      <td>Content</td>
      <td>Created at</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
  </tbody>
</table>
