<h2>All Categories</h2>
<%= link_to "New Category", new_admin_category_path, class: "btn btn-success" %><br>

<table class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <%= render @categories %>
  </tbody>
</table>
