<div class="show_category_container">
  <h3 class="al-center"><%= @category.name %></h3>
  <div class="posts">
    <%= render partial: "shared/front/post", collection: @posts, as: :post %>
  </div>
  <!-- Pager -->
  <div id="pagination" class="clearfix">
    <%= paginate @posts, remote: true %>
  </div>
</div>
