<div class="post-preview">
  <%= link_to post_path(post) do %>
    <h2 class="post-title">
      <%= post.title %>
    </h2>
    <h3 class="post-subtitle">
      <%= ActionView::Base.full_sanitizer.sanitize(post.content).truncate 180 %>
    </h3>
  <% end %>
  <p class="post-meta">Created by
    <a href="https://www.facebook.com/cuongnguyenfu0211" target="_blank">Merci Nguyen</a>
    <%= post.created_at %></p>
</div>
<hr>
